.example-container {
  width: 1280px;
  height: 545px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
